<section class="flex flex-col p-4 mx-auto">
  <h2 class="text-center font-bold text-3xl mb-4">Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4 p-8 shadow-lg rounded-md bg-white-05 mx-auto" }) do |f| %>
  
    <div class="field *:w-full">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "text-black" %>
    </div>

    <div class="field *:w-full">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "text-black" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field mt-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <button class="actions bg-white-05 hover:bg-dark cursor-pointer rounded-md p-2 my-4">
      <%= f.submit "Log in" %>
    </button>

    <div class="flex gap-4">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  
</section>
