<!DOCTYPE html>
<html>
  <head>
    <title>Animetoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !devise_controller? || (devise_controller? && action_name != "new" && action_name != "create") %>
      <%= render "layouts/nav" %>
    <% end %>
<%#     <main class="container mx-auto mt-28 px-5 flex h-screen"> %>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
